{% if user.is_authenticated %}
  {%  if user.profile.is_mechanic %}
    <header class="p-3 text-bg-dark bg-secondary">
  {% elif user.profile.is_particular %}
    <header class="p-3 text-bg-dark bg-success">
  {% endif %}

{% else %}
  <header class="p-3 text-bg-dark bg-success">
{% endif %}

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>


      {% if user.is_authenticated %}
        {%  if user.profile.is_mechanic %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-secondary">
        {% elif user.profile.is_particular %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-success">
        {% endif %}
    
      {% else %}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 bg-success">
      {% endif %}

      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}" class="nav-link px-2 text-white">Home</a></li>
      {% else %}
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
      {% endif %}
      <!--
        <li><a href="{% url 'pricing' %}" class="nav-link px-2 text-white">Precios</a></li>
        <li><a href="{% url 'versiones' %}" class="nav-link px-2 text-white">Versiones</a></li>
      -->
      </ul>

      <div class="text-end">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Cerrar Sesión</button>
        </form>
        {% else %}
        <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Ingresar</a>
        <a class="btn btn-warning" href="{% url 'register' %}">Registrarse</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>