<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Patente</th>
        <th scope="col">Marca/Año</th>
        <th scope="col">Gastos</th>
        <th scope="col">Kilometros</th>
        <th scope="col"><u>A</u></th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for car in object_list.all %}
            <tr>
                <th scope="row"> {{ forloop.counter }} </th>
                <td> {{ car.plate }} </td>
                <td> {{ car.brand }} / {{ car.year }} </td>
                <td> ${{ car.total_service_cost }} </td>
                <td> {{ car.mileage }} </td>
                <td>{% if car.car_mechanic %} A {% else %} U {% endif %}</td>
                <td scope="col">
                    <div class="col-xl-4 themed-grid-col">
                        <a href="{% url 'vehicle_detail' car.id %}" class="badge text-bg-success text-decoration-none">
                            Detalles
                        </a>
                    </div>
                </td>
                <td scope="col">
                    <div class="col-xl-4 themed-grid-col">
                        <a href="{% url 'add_service' car.id %}" class="badge text-bg-primary text-decoration-none">
                            + Servicio
                        </a>
                    </div>
                </td>
                <td scope="col">
                    <div class="col-xl-4 themed-grid-col">
                        <a href="{% url 'vehicle_delete' car.id %}" class="badge text-bg-danger text-decoration-none">
                            Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
